#heading {
	text-align: center;
}

#contactInfo {
	margin-left: 100px;
}

#personalData {
	margin-left: 100px;
}

#previousEmp {
	margin-left: 100px;
}

#references {
	margin-left: 100px;
}

#createResume {
	margin-left: 100px;
}
